* {
    background-color: #8D818C;
}

body {
    color: #E9EBF8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

p {
    border: 3px #E9EBF8 solid;
    padding: 10px 10px 10px 10px;
}

.pic1 {
    padding-right: 10px 10px 10px 10px;
    float: right;
}

.pic2 {
    padding-right: 10px 10px 10px 10px;
    padding-top: 7em;
    padding-left: 7em;
    float: left;
}
